.header-container {
    display: flex;
    background: rgba(52, 74, 113, 0.4);
}

.header-logo {
    flex: 1;
    text-align: center;
    margin-top: 24px
}

.header-logo:hover {
    cursor: pointer;
}

.header-links-container {
    flex: 2;
    display: flex;
    justify-content: space-evenly;

}

.header-links {
    color: #FFFFFF;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    display: flex;
    padding: 37px 19px 31px 15px;

}

.header-links:hover {
   background-color: #FFFFFF;
   color: black;
   padding: -60px 10px 0px 10px;

}

/* .dropdown {
    margin-top: 43px;
} */

.drop-down-icon {
    margin-left: 10px;

}

.dropdown:hover {
    cursor: pointer;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-ham {
    display: none;
}

.header-link-mobile {
    display: none;
}

.header-link-container-mobile {
    display: none;
}

/* mobile view responsive  */

@media (max-width: 780px) {
    .header-ham {
        display: block;
        margin-top: 27px;
        margin-right: 10px;
    }

    .header-logo-logo {
        width: 120px;
        margin-left: 10px;
    }

    .header-links {
        display: none;
    }

    .header-link-mobile {
        display: flex;
        margin-top: 20px;
        color: black;
    }

    .header-link-container-mobile {
        display: block;
        margin-top: 82px;
        margin-left: -154px;
    }


    .header-sign-in {
        width: 63px;
        font-size: 13px;
    }

    .header-book-now-button {
        width: 124px;
        height: 41px;
        margin-top: 20px;
        text-align: center;
        line-height: 42px;
        background: #f3620ec7;
        color: white;
        letter-spacing: 3px;
        font-size: 13px;
        margin-left: 22px;
        border: none;
        position: relative;
        right: 15px;
    }

    .dropdown-mobile a {
        color: black;
        text-decoration: none;

    }

    .dropdown2-mobile a {
        margin-top: 12px;
    }

    .dropdown2-mobile a {
        color: black;
        text-decoration: none;
        display: block;
        text-align: left;
    }
}

/* @media (max-width:1024px) {
    .header-logo {
        flex: none;
        text-align: center;
        margin-top: 24px;
        margin-left: 10px;
        
    }
    
    .header-logo-logo {
        width: 130px;
    }
    .header-links-container {
        flex: none;
        display: flex;
        justify-content: space-evenly;
    
    }
    
    .header-links {
        color: black;
        padding-top: 30px;
        text-decoration: none;
        font-family: sans-serif;
        display: flex;
        border-top: 4px solid #fff;
        font-size: 15px;
        margin-left: 10px;
    }
    .header-buttons {
        flex: none;
        display: flex;
    }
    
    .header-sign-in-button {
        margin-top: 30px;
        display: flex;
        margin-left: 10px;
    
    }
      
    .header-sign-in {
        margin-left: 9px;
        font-family: sans-serif;
        margin-top: 1px;
    }
    
    
    .header-book-now-button {
        width: 123px;
        height: 44px;
        margin-top: 20px;
        text-align: center;
        line-height: 42px;
        background: #f3620ec7;
        color: white;
        letter-spacing: 3px;
        font-size: 13px;
        margin-left: 12px;
        border: none;
    }
} */